<a href="https://colab.research.google.com/github/snarls94/learn/blob/master/Sruthi's_Python_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a function middle (L) that accepts a list L as its input parameter and returns the element in the middle of the list. Hint: if the size of the list even takes the average of the two elements in the middle.

In [5]:
import math

def middle(list):
    list_len = len(list)
    
    # if even
    if list_len % 2 == 0:
        idx = math.floor(list_len / 2)
        return (list[idx-1] + list[idx]) / 2
    # if odd
    else: 
        idx = math.floor(list_len / 2)
        return list[idx]

print(middle([10, 32, 4, 75, 234]))
print(middle([10, 32, 4, 75, 234, 94]))

4
39.5

2. Write a code fragment that reads a string using input() function and outputs the same string with the first and last characters exchanged. For example, if the onput is "hello", your code will print "oellh".

In [4]:
print("Enter input")
str = input()
# convert string to list "HELLO" -> ["H", "E", "L", "L", "O"]
lst = []
lst[:0] = str

temp = lst[-1]
lst[-1] = lst[0]
lst[0] = temp

print("".join(lst))

Enter input
Hello
oellH

3. Write a code fragment that reads an integer from input (i.e., using input function), representing the personâ€™s age. If the age is 18+, print â€œYou can voteâ€. If the age is between 0-17 print out â€œToo young to voteâ€. Hint: you need to convert (i.e., cast) the string returned from input function to an integer.

In [1]:
print("Enter your age")
age_str = input()

age = int(age_str)

if age >= 18:
  print("You can vote!")
else:
  print("Too young ðŸ‘¶ to vote!")

Enter your age
9
Too young ðŸ‘¶ to vote!

4. Write a code fragment to help a credit card company to compute customersâ€™ â€œminimum paymentâ€ according to the following rule. The minimum payment is equal to 10$ or 2.1% of the customerâ€™s balance, whichever is greater, but if this exceeds the balance, then the minimum payment is the balance.

In [3]:
def get_minimum_payment(balance):
    minimum_payment = 0
    if balance > 10:
        minimum_payment = balance * 0.021
        if minimum_payment < 10:
            minimum_payment = 10
    else:
        minimum_payment = balance
        
    return minimum_payment

print(get_minimum_payment(1000))
print(get_minimum_payment(600))
print(get_minimum_payment(25))
print(get_minimum_payment(8))

21.0
12.600000000000001
10
8

5. Write a function calculation() such that it can accept two variables and calculate addition and
subtraction. Also, it must return both addition and subtraction in a single. Hint: use tuple.

In [6]:
def calculation(x, y):
  sum = x + y
  difference = x - y

  return (sum, difference)

print(calculation(35, 15))

(50, 20)

6. Write a code fragment that calculates the frequency of characters in a text. Uppercase and lowercase characters are treated equally(use string builtin lower() or upper() functions. Ignore white space.

In [7]:
def get_frequency(str):
    dict = {}
  
    for c in str.lower():
        dict[c] = dict[c] + 1 if dict.get(c) else 1
        
    return dict
    
print(get_frequency("The university of North florida"))

{'t': 3, 'h': 2, 'e': 2, ' ': 4, 'u': 1, 'n': 2, 'i': 3, 'v': 1, 'r': 3, 's': 1, 'y': 1, 'o': 3, 'f': 2, 'l': 1, 'd': 1, 'a': 1}

7. Build a list that contains every prime number between 1 and 100, in two different ways
- Using for loops and conditional if statements.
- Using a list comprehension. You should be able to do this in one line of code.

In [8]:
def get_prime_first():
    for num in range(1, 100):
    # all prime numbers are greater than 1
        if num > 1:
           for i in range(2, num):
               if (num % i) == 0:
                   break
           else:
               print(num)
               
def get_prime_second():
    return list(set(range(2,100)) - {x for x in range(100) for y in range(2,x) if x%y == 0})
    
print(get_prime_first())
print(get_prime_second())

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
None
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]